<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Mufuphlex Cplt Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src/Mufuphlex/Cplt</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="tests/coverage" charset="UTF-8" yui="true" highlight="true"/>
        <log type="coverage-text" target="tests/coverage.txt"/>
    </logging>
</phpunit>